# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
ENV/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Data Files
# ===============================
data/raw/
data/processed/

# If you ever download other large datasets
*.csv
*.xlsx

# ===============================
# Model Files
# ===============================
*.pkl
*.joblib

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# Images 
# ===============================

images/

